<!doctype html>
<html>
  <head>
    <title>The colloctor</title>
    <!-- <link href='/styles.css' rel="stylesheet"> -->
  </head>
  <body>
	<h1 id="main-title">The colloctor- Page 2</h1>

    <div id="app-mount">
      <%- reactOutput %>
    </div>

	<!-- comment out main.js to see server side only rendering -->
	<script src="/main.js"></script>

  </body>
</html>
